<?xml version="1.0" encoding="UTF-8" ?>
<configuration status="WARN">
    <!--全局参数-->
    <Properties>
        <!--<Property name="pattern">%d{yyyy-MM-dd HH:mm:ss,SSS}</Property>-->
        <Property name="pattern">%d{yyyy-MM-dd HH:mm:ss,SSS} %-5p %l - %m%n</Property>
        <Property name="log-path">/mnt/logs/cb-graphql</Property>
        <Property name="log-file">cb-graphql</Property>
    </Properties>

    <Appenders>
        <!--控制台输出-->
        <Console name="console" target="SYSTEM_OUT" follow="true">
            <!--控制台只输出level及以上级别的信息-->
            <ThresholdFilter level="INFO" onMatch="ACCEPT"/>
            <PatternLayout>
                <Pattern>${pattern}</Pattern>
            </PatternLayout>
        </Console>
        <!-- 同一来源的Appender可以定义多个RollingFile，定义按天存储日志 -->
        <!--<RollingFile name="info_file"-->
                     <!--fileName="${log-path}/info/${log-file}.info.log"-->
                     <!--filePattern="${log-path}/info/${log-file}.info.log.%d{yyyy-MM-dd}">-->
            <!--<ThresholdFilter level="INFO" onMatch="ACCEPT" onMismatch="DENY"/>-->
            <!--<PatternLayout>-->
                <!--<Pattern>${pattern}</Pattern>-->
            <!--</PatternLayout>-->
            <!--<Policies>-->
                <!--<TimeBasedTriggeringPolicy interval="1"/>-->
            <!--</Policies>-->
        <!--</RollingFile>-->
        <!--<RollingFile name="debug_file"-->
                     <!--fileName="${log-path}/debug/${log-file}.debug.log"-->
                     <!--filePattern="${log-path}/debug/${log-file}.debug.log.%d{yyyy-MM-dd}">-->
            <!--<ThresholdFilter level="DEBUG" onMatch="ACCEPT" onMismatch="DENY"/>-->
            <!--<PatternLayout>-->
                <!--<Pattern>${pattern}</Pattern>-->
            <!--</PatternLayout>-->
            <!--<Policies>-->
                <!--<TimeBasedTriggeringPolicy interval="1"/>-->
            <!--</Policies>-->
        <!--</RollingFile>-->
        <!--<RollingFile name="error_file"-->
                     <!--fileName="${log-path}/error/${log-file}.error.log"-->
                     <!--filePattern="${log-path}/error/${log-file}.error.log.%d{yyyy-MM-dd}">-->
            <!--<ThresholdFilter level="ERROR" onMatch="ACCEPT" onMismatch="DENY"/>-->
            <!--<PatternLayout>-->
                <!--<Pattern>${pattern}</Pattern>-->
            <!--</PatternLayout>-->
            <!--<Policies>-->
                <!--<TimeBasedTriggeringPolicy interval="1"/>-->
            <!--</Policies>-->
        <!--</RollingFile>-->
        <!--<RollingFile name="warn_file"-->
                     <!--fileName="${log-path}/warn/${log-file}.warn.log"-->
                     <!--filePattern="${log-path}/warn/${log-file}.warn.log.%d{yyyy-MM-dd}">-->
            <!--<Filters>-->
                <!--<ThresholdFilter level="ERROR" onMatch="DENY" onMismatch="NEUTRAL"/>-->
                <!--<ThresholdFilter level="WARN" onMatch="ACCEPT" onMismatch="DENY"/>-->
            <!--</Filters>-->
            <!--<PatternLayout>-->
                <!--<Pattern>${pattern}</Pattern>-->
            <!--</PatternLayout>-->
            <!--<Policies>-->
                <!--<TimeBasedTriggeringPolicy interval="1"/>-->
            <!--</Policies>-->
        <!--</RollingFile>-->
    </Appenders>

    <Loggers>
        <!--<asyncRoot level="info" includeLocation="true">-->
            <!--<appender-ref ref="console"/>-->
        <!--</asyncRoot>-->
        <AsyncRoot level="debug" includeLocation="true">
            <!--<AppenderRef ref="error_file"/>-->
            <!--<AppenderRef ref="info_file"/>-->
            <AppenderRef ref="console"/>
        </AsyncRoot>
        <!--<AsyncLogger name="com.turing.tts.service.impl" level="warn" includeLocation="true">-->
            <!--<AppenderRef ref="warn_file"/>-->
        <!--</AsyncLogger>-->
    </Loggers>
</configuration>